body {
    background-color: lightcoral;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 80%;
}

form {
    display: grid;
    margin-right: 30%;
    margin-left: 30%;

}

input {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}

button {
    padding: 10px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
}

.container {
    display: grid;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    margin-right: 25%;
    margin-left: 25%;
}
